COMPOSE_PROJECT_NAME=plataforma-futevolei

POSTGRES_PORT=55432
POSTGRES_DB=plataforma_futevolei_dev
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

API_PORT=5080
FRONTEND_PORT=5173
JWT_CHAVE=chave-desenvolvimento-local-docker-quebranunca-2026
